<%- include('./partials/header.ejs')%>
<div class="error-content">
  <h2><%= error.status%> Error</h2>
  <p><%= error.message%></p>
  <a href="/"><p>Go Back to Home Page</p></a>
</div>
<%- include('./partials/footer.ejs')%>
