<%- include('./partials/header.ejs')%>
<div class="About-content">
  <h1>Welcome to Fresh and Healthy</h1>

  <h4>
    We are all about making organic grocery available to every household. <br />
    If you are seller, list your products on our website and join us in this
    healthy journey
  </h4>

  <div class="about-images">
    <div id="farm-fresh">
      <img src="/images/farm-fresh.png" alt="farm-fresh" />
      <p>Farm Fresh</p>
    </div>
    <div class="fast-delivery">
      <img src="/images/fast-delivery.png" alt="fast-delivery" />
      <p>On-Time Delivery</p>
    </div>
    <div id="economical">
      <img src="/images/economical.png" alt="economical" />
      <p>Economical</p>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
