<%- include('./partials/header.ejs')%>
<div id="content">
  <h1>Welcome to Fresh and Healthy!</h1>
  <p>
    Why eat unhealthy junk when we bring you organic food at affordable prices?
    #organicfood
  </p>
</div>
<%- include('./partials/footer.ejs')%>
