<footer>
  <div class = 'footer'>
    <span id ="copy">&copy Fresh and Healthy</span>
  <a href="/nav/about"> <span class = "about" id = "about">About</span> </a>
  <a href="/nav/contact"> <span class = "contact" id = "contact">Contact</span> </a>
  </div>
</footer>
    </body>
</html>