<%- include('../partials/header.ejs')%>
<div id="cartpage">
  <h1>Item added to your Wishlist</h1>
  <p><b> Name:</b> <%= newSaveItem.Name%></p>
  <a href="/nav/save">Go to Wishlist</a>
</div>
<%- include('../partials/footer.ejs')%>
